
    
h1{
 color: darkgoldenrod;
}

img{
 width: 400px;
}

#thirdDiv {
 width: 500;
 height: 600;
 background-color: red;
 padding: 50px;
 border: 10px solid blue;
}
#spanId{
 font-size: 18px;
 margin: 50px;
}

